.cart-item{
    display: grid;
    grid-template-columns: 4fr 0.5fr 0.5fr;
    grid-template-areas: "product info quantity delete";
    padding: 1rem 0;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    color: #4a4a4a;
}
.cart-item-info{
    display: flex;
    align-items: flex-start;
    gap:1.5rem;
}
.product-cart-image{
    width:4rem;

}
.product-details-cart{
    display: flex;
    flex-direction: column;
}
.cart-product-name{
    font-size: 1.5rem;
    font-weight: 500;
    
}
.cart-product-price{
    font-size: 18px;
    color: red;

}
.quantity-input{
    border:1px solid #e2e2e2;
    width: 50px;
    height: 35px;
    justify-content: center;
    place-items: center;
    place-self: center;

}
.delete-icon{
    cursor: pointer;
    margin-right: 1rem;
    place-self: center;
    font-size: 28px;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    background-color: #fff;
    padding: 15px;
    max-width: 600px;
    justify-content: center;
}
.checkout-box{
    width: 100%;
    max-width: 28rem;
}
.checkout-btn{
    background-color: black;
    color: white;
    font-size: 0.875;
    margin-top: 2rem;
    padding: 0.75rem;
}
.checkout-btn-container{
    width: 100%;
    text-align: end;
}